<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style3.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>회원 검색 목록</h3>
    <div class="main-wrap"></div>
    <br /><br />
    <a href="/">홈으로 이동</a>
    <script src="/javascript/script2.js"></script>
  </body>
</html>
