h1:hover{
    color: red;
}
a:active{
    background-color: blue;
}
a:hover{
    color: blue;
    background: black;
}
input:focus{
    background-color: orange;
}
.div1{
    color: blue;
}
div.div1:hover{
    color: red;
}
.div2{
    color:red;
}
div.div2:hover{
    color: blue;
}