<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/javascript/script1.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .box button {
        width: 100px;
        margin: 5px 0px;
      }
    </style>
  </head>
  <body>
    <div class="box"></div>
  </body>
</html>
