<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
  </head>
  <body>
    <h1>아이템 리스트</h1>
    <ul>
      <% items.forEach(item => { %>
      <li>
        <!-- 요청보내기 -->
        <a href="/itemsDisplay/<%= item.id %>"> <%= item.name %></a>
      </li>
      <% }) %>
    </ul>
    <a href="/itemsDisplay/itemMaxPrice">가장 비싼 상품</a>
  </body>
</html>
