<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ID</title>
  </head>
  <body>
    <h1>해당하는 아이템 페이지</h1>
    <br />
    <h1></h1>
    <p><%= item.name %> <%= item.price %></p>
    <a href="/itemsDisplay">뒤로가기</a>
  </body>
</html>
