<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Max Price</title>
  </head>
  <body>
    <h1>최고가</h1>
    <p><%= maxPrice.name %> <%=maxPrice.price %></p>
    <a href="/itemsDisplay">뒤로가기</a>
  </body>
</html>
