.box1{
    position: relative;
    background-color: red;
}

.button{
    position: absolute;
    width: 50px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 10px;
}

.b1{
    background-color: red;
}
.b2{
    left: 20px;
    background-color: orange;
}
.b3{
    left: 40px;
    background-color: yellow;
    z-index: 1;
}
.b4{
    left: 60px;
    background-color: green;
}
.b5{
    left: 80px;
    background-color: blue;
}